@model IEnumerable< RestaurantDomain.Model.Dish>
@{
    ViewData["Title"] = "Меню";
}

<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Меню ресторану</h2>
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle me-2"></i> Додати страву
        </a>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var dish in Model)
        {
            <div class="col">
                <div class="card h-100 shadow border-0">
                    <div class="card-body">
                        <h5 class="card-title">@dish.Name</h5>
                        
                        <p class="card-text fw-bold">Ціна: <span class="text-success">@dish.Price грн</span></p>
                    </div>
                    <div class="card-footer bg-white d-flex justify-content-between">
                        <a asp-action="Edit" asp-route-id="@dish.Id" class="btn btn-sm btn-outline-primary">Редагувати</a>
                        <a asp-action="Details" asp-route-id="@dish.Id" class="btn btn-sm btn-outline-info">Деталі</a>
                        <a asp-action="Delete" asp-route-id="@dish.Id" class="btn btn-sm btn-outline-danger">Видалити</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
