@model IEnumerable<RestaurantDomain.Model.Order>

<h2>Замовлення</h2>
<a asp-action="Create" class="btn btn-success mb-3">Створити замовлення</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Клієнт</th>
            <th>Стіл</th>
            <th>Дата</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.Client.LastName</td>
                <td>@o.Table.Number</td>
                <td>@o.DateTime?.ToString("dd.MM.yyyy HH:mm")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@o.Id" class="btn btn-primary btn-sm">✏</a>
                    <a asp-action="Details" asp-route-id="@o.Id" class="btn btn-info btn-sm">ℹ</a>
                    <a asp-action="Delete" asp-route-id="@o.Id" class="btn btn-danger btn-sm">🗑</a>
                </td>
            </tr>
        }
    </tbody>
</table>
